@model AcBazar.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>

<form method="post">
    <input name="ID" value="@Model.ID" type="hidden" />
    <br />

    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />

    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />


    <label>Image:</label>
    <input name="Image" type="file" id="ImageUpload" accept=".jpg, .png" />
    <br />

    <input name="ImageURL" type="hidden" id="ImageURL" value="@Model.ImageURL"/>
    <br />

    <img id="CategoryImage" src="@Model.ImageURL" />
    <br />

    <input name="RowAddDate" value="@Model.RowAddDate" type="hidden" />
    <br />

    <button type="submit">Save</button>
</form>

<script>
    $("#ImageUpload").change(function () {
        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;
        for (i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: '/Shared/UploadImage',
            //dataType:'json',
            data: formData,
            contentType: false,
            processData:false
        })
            .done(function (response) {
                console.log(response);
                if (response) {
                    $("#CategoryImage").attr("src", response.ImageURL);
                    $("#ImageURL").val(response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                //debugger;
                alert('Failed');
            });

    });
</script>