@model List<Category>

@{
    /**/

    ViewBag.Title = "MainInfo";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table border="1" class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td>@category.Description</td>
                            <td><img src="@category.ImageURL" /></td>
                            <td>
                                <button class="btnClassEdit" type="button" data-id="@category.ID">Edit</button>
                                <button class="btnClassDelete" type="button" data-id="@category.ID">Delete</button>
                                <button class="btnClassAddCart" type="button" data-id="@category.ID">Add to Cart</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*</div>*@
        </div>

    </div>

    <script>
        $(".btnClassEdit").click(function () {
            $.ajax({
                type: "GET",
                url: '/Category/Edit',
                data: {
                    ID: $(this).attr("data-id")
                }
            })
                .done(function (data) {
                    $("#ActionContainer").html(data);
                    focusaction();
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('Failed');
                });
        });

        function focusaction() {
            $('html, body').animate({
                scrollTop: $("#ActionContainer").offset().top - 100
            }, 1000);
        }
    </script>

    <script>
        $(".btnClassDelete").click(function () {
            var result = confirm("Want to delete?");
            if (result) {
                //Logic to delete the item

                $.ajax({
                    type: "POST",
                    url: '/Category/Delete',
                    data: {
                        ID: $(this).attr("data-id")
                    }
                })
                    .done(function (data) {
                        $("#SearchRecords").html(data);
                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('Failed');
                    });
            }
        });
    </script>

    <script>
        var products = [];

        $(".btnClassAddCart").click(function () {
            var productID = $(this).attr("data-id");

            products.push(productID);

            $.cookie('CartProducts', products.join('-'), {path: '/'});

            alert("Product added to Cart");
                
        });
    </script>
    
</div>