@model AcBazar.Web.ViewModels.CheckoutViewModel
@{
    ViewBag.Title = "Checkout";
}

<div id="SearchProduct">
    <header>
        @Scripts.Render("~/Content/javascript/jquery.min.js")
    </header>
    <section class="flat-row flat-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin_bottom_17">
                        <h2 class="title">
                            Shopping Cart Items
                        </h2>
                    </div><!-- /.title-section -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.row -->
    </section>
    <div class="container">

        <div class="row">
            @*<div class="col-md-4">*@
            <div class="col-md-12">
                <table border="1" class="table table-striped">
                    <thead>
                        <tr>
                            <td>Brand</td>
                            <td>Category</td>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Quantity</td>
                            <td>Price</td>
                            <td>Amount</td>
                            <td>Image</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.CardProducts)
                        {
                            var ProductQuantity = Model.ProductIDs.Where(x => x == product.ID).Count();
                            var Amount = ProductQuantity * product.Price;
                        <tr>
                            <td>@product.Brand.Name</td>
                            <td>@product.Category.Name</td>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>@product.Price</td>
                            <td>@ProductQuantity</td>
                            <td>@Amount</td>
                            <td><img src="@product.ImageURL" /></td>
                            <td>
                                <button class="btnClassDelete" type="button" data-id="@product.ID">Remove</button>
                            </td>
                        </tr>
                        }
                        <tr>
                            @{var TotalQuantity = Model.CardProducts.Sum(x => x.Price * Model.ProductIDs.Where(p => p == x.ID).Count());}
                            <td colspan="6">Total</td>
                            <td>@TotalQuantity</td>
                            <td></td>
                            <td>
                                <button id="btnConfirm" type="button">Confirm</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @*</div>*@
            </div>
        </div>
    </div>

       <script>
            $(".btnClassDelete").click(function () {
                var result = confirm("Want to Remove from Cart?");
                if (result) {
                    //Logic to delete the item
                    alert('Thanks');

                }
            });



    </script>


</div>
